<div class="row container-main justify-content-center">
	<div class="col-lg-6 mt-5">
		<div class="card">
			<div class="card-header">ng-bootstrap-input</div>
			<div class="card-block">
				<form role="form" [formGroup]="form">
					<label>Phone Number</label>
					<bootstrap-input [inputConfig]="phoneConfig"></bootstrap-input>
					<label>Postal Code</label>
					<bootstrap-input [inputConfig]="postalCodeConfig"></bootstrap-input>
					<label>Email</label>
					<bootstrap-input [inputConfig]="emailConfig"></bootstrap-input>
					<label>Currency</label>
					<bootstrap-input [inputConfig]="currencyConfig"></bootstrap-input>
					testing 123
				</form>
			</div>
			<div class="card-footer text-center text-muted">powered by sir-captainmorgan21</div>
		</div>
	</div>
</div>